/* h3 {
    color: blueviolet;
    font-size: medium;
}

p {
    color: red;
} */

/* Comments are like this! */

/* selector */
/* declaration block */
/* declaration */
/* property ends with ":" */
/* value ends with ";" */


/* Select multiple elements at once */
/* h1,h2 {
    color: red;
} */

/* ID selectors */
/* #main-paragraph {
    color: green;
    background: black;
} */

/* Class selectors */
/* .green {
    color: green;
}

.blue {
    color: blue;
} */

/* inheritance */
body {
    color: red;
}

.special {
    color: green;
}

h2 {
    color: blue;
}

div {
    color: greenyellow;
}