body {
    background: yellow;
}

.banner {
    background: blue;
}

h1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

@media screen and (max-width: 578px) {
    body {
        background: red;
    }

    .banner {
        background: yellow;
    }

    h1 {
        color: black;
        font-size: 60px;
    }
}

/* @media screen and (min-width:768px) {
    body {
        background: green;
    }

    .banner {
        background: pink;
        margin-top: 60px;
    }
} */